// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
//  Created by xXxuserxXx on xXxdatexXx.
//  All code (c) xXxyearxXx - present day, xXxownerxXx.
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

RT_VERSION = 1.0.0
RT_PRODUCT_NAME = xXxprojectCamelxXx
RT_SHORT_NAME = xXxprojectCamelxXx
RT_BUNDLE_IDENTIFIER = com.elegantchaos.xXxprojectLowercasexXx
RT_TEAM = 2H48644JM2
RT_APP_ICON = AppIconMobile

ACTION_STATUS_ADDITIONAL_FRAMEWORKS = 

ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon$(RT_TYPE)

SWIFT_OBJC_BRIDGING_HEADER =

TARGETED_DEVICE_FAMILY = 1,2
